{% block content %}
    <form class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="data" placeholder="Your Phone Number">
            <button class="btn btn-primary" type="submit">Generate</button>
        </div>
    </form>
{% endblock %}
